.main {
  background-color: #1d1d1d;
  width: auto;
  height: 730px;
}
P {
  position: absolute;
  width: 281px;
  height: 86px;
  left: 267px;
  top: 280px;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  color: #55db40;
}
