.container {
  background-color: #1d1d1d;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.teste1 {
  padding: 25px;
}

.teste2 {
  padding: 25px;
}

.text {
  width: 350px;
  margin: 0 auto;
  padding: 15px;
  text-align: justify;
  font-family: Trebuchet MS;
  font-weight: normal;
  color: #666666;
  font-size: 12px;
  line-height: 24px;
}
.title {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-family: Myriad Pro;
  font-size: 23px;
  line-height: 28px;
  font-weight: bold;
  color: #55db40;
}

.teste1 > div {
  text-align: center;
}

.teste1 > div > #btn-products {
  background: none;
  margin-top: 15px;
  width: 200px;
  height: 40px;
  border: 1px solid #55db40;
  border-radius: 6px;
  color: #55db40;
}
#btn-products:hover {
  cursor: pointer;
}

.max-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.max-list {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
}
.conteudo {
  background-color: azure;
  align-content: center;
}
.conteudo #title {
  margin-left: 100px;
  margin-top: 300px;
}
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
